/* default */

body {
    font-family: "Rubik", sans-serif;
    color: black;
    background: #FEF8F5;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

}

a {
    text-decoration: none;
}

li {
    display: block;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container {
        padding: 10px;
    }

    a {
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }
}


/* header */

header {
    color: white;
    background-image: url(../img/header_background.svg);
    background-size: cover;
    height: 140vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5vh 5vh;
}

.logo {
    margin-top: 3%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__button a {
    position: relative;
    background-color: #EE4D47;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin-top: 15%;
}

.navbar nav ul li {
    margin-left: 1rem;
}

.navbar nav ul li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #ffd1a4;
}

.intro {
    text-align: left;
    align-items: flex-end;
    margin-left: 7%;
}

h1 {
    font-family: DM Serif Display;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    margin-top: 5%;
}

.intro__content {
    max-width: 61%;
    margin-left: 5%;
}

.intro__button {
    background: #EE4D47;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.96px;
    letter-spacing: 0.05em;
    margin-left: 7%;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 5px;
    color: white;
}

.header__menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__menu img {
    max-width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 400px;
    }

    .logo {
        margin-top: 15%;
        margin-right: 25%;
        position: absolute;
    }

    header h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        margin-top: 10%;
        margin-left: 12%;
    }

    .header__nav ul {
        flex-direction: column;
        display: block;
    }

    .header__nav {
        display: none;
    }

    .navbar nav ul {
        list-style: none;
        display: flex;
        margin-top: 15%;
        position: absolute;
        right: 5%;
    }

    li {
        margin-top: 15%;
        text-align: right;
        font-size: 24px;
    }

    .intro {
        margin: 0 auto;

    }

    .intro__content {
        margin-top: 20%;
        margin-left: 0;

    }

    .intro__button {
        font-size: 10px;
        padding: 4%;
        margin-left: 13%;
    }

    .header__menu {
        position: absolute;
        display: block;
        top: 5%;
        right: 7%;
    }

}

@media (min-width: 2560px) {
    header {
        background-size: 200rem;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: scale(1.5)
    }

    h1 {
        font-size: 10rem;
        font-weight: 400;
        line-height: 8rem;
    }

    .intro__button {
        scale: 2;
    }

    .header__menu {
        justify-content: center;
        position: absolute;
        top: 5%;
        left: 5%
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.logo {
    animation: slideInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


/* main */

.title {
    color: #EE4D47;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-align: left;
}

.paragraph {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
}


/* about section */

.about__notification {
    background-color: #fdede8;
    border-left: 8px solid #f55a44;
    padding: 1%;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    max-width: 70%;
}

.about__notification p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
}

.about__illustration {
    max-width: 75%;
    margin-bottom: 20px;
}


/* apply section */

.apply__inner {
    max-width: 480px;
}

.apply__illustration {
    max-width: 75%;
    margin-bottom: 20px;
}


/* feedbacks section */

.feedbacks {
    padding: 50px;
    text-align: center;
}

.feedbacks h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #EE4D47;
}

.feedbacks h4 {
    font-family: DM Serif Display;
    font-size: 48px;
    font-weight: 400;
    line-height: 67.2px;
    margin-top: -1%;
}

.feedbacks__container {
    display: flex;
    justify-content: space-between;
}

.feedback {
    width: 30%;
    background-color: #FFF;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0px 20px 40px 0px #EE4D471A;
}

.feedback p {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
}

.feedback_user_info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.feedback h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
}

.feedback__person h5 img {
    display: flex;
    align-items: flex-start;
}

.feedback:hover {
    box-shadow: 0px 20px 40px 0px #EE4D47;
    transition: 1s;
}


/* main */

.scroll-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.2s ease-out;
}

.scroll-animate.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {

    .about_us,
    .how_to_apply {
        padding: 10% 5%;
    }

    .apply__illustration {
        order: 1;
        transform: scale(140%);
    }

    .about_us h2,
    .how_to_apply h2 {
        font-size: 20px;
        line-height: 30px;

    }

    .about__illustration,
    .apply__illustration {
        display: none;
    }

    .feedbacks {
        padding: 20px;
    }

    .feedback {
        width: 100%;
    }

    .feedbacks__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

    }

    .feedbacks__container-person h5 img {
        display: flex;
        align-items: center;
    }

    .feedback_user_info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 2560px) {
    .container {
        align-items: center;
    }

    .apply__inner {
        max-width: 800px;
    }

    .about_inner {
        width: 40%;
    }

    .about__illustration,
    .apply__illustration {
        max-width: 70%;
        margin-bottom: 60px;
    }

    .title {
        font-size: 60px;
        line-height: 80px;
    }

    .paragraph {
        font-size: 30px;
        line-height: 80px;
    }

    .feedbacks h4 {
        font-size: 100px;
        line-height: 120px;
    }

    .feedback {
        width: 25%
    }

    .feedbacks__container {
        justify-content: space-around;
    }

    .feedback p {
        font-size: 26px;
    }

    .feedback h5 {
        font-size: 22px;
    }

    .about__notification {
        font-size: 24px;
        padding: 3%;
    }
}


/* footer */

.footer__container {
    background: #F16353;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.footer__container p {
    font-size: 0.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.footer__container ul {
    display: flex;
    gap: 1rem;
}

.footer__container p {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .social__links {
        padding: 0;
        margin-top: 50px;
    }

    .footer__container p {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .footer__container ul {
        margin-top: 5%;
    }
}

@media (min-width: 2560px) {
    .footer__container {
        padding: 4rem;
    }

    .footer__container p {
        font-size: 30px;
        line-height: 50px;
    }

    .footer__container ul {
        gap: 2rem;
    }
}
