footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  gap: 23%;
  background-color: black;
}

.branding h4{
  text-align: left;
  margin-bottom: 10px;
  color: white;
}
.branding p{
  max-width: 450px;
  font-size: 14px;
  color: white;
}

.footer-logo img {
  width: 140px;
  height: auto;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a img {
  width: 45px;
  height: auto;
  border-radius: 50%;
}
